// Imports
@import '~ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Montserrat', sans-serif;
}
html, body { height: 100vh; }
body { margin: 0; font-family: 'Montserrat', "Helvetica Neue", sans-serif; padding: 0; }

.cdk-overlay-container {
    z-index: 9999 !important;
}

.pagination-next > a {
    color: #c3c3c3 !important;
}

.ng-star-inserted > a {
    color: #c3c3c3 !important;
}

input.mat-input-element {
    color: #dadada;
  }
  
.mat-form-field.mat-focused .mat-form-field-label {
  color: #9c4444 !important;
}

.mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #9c4444 !important;
}